@using StokKontrolProject.Entities.Entities
@{
    ViewData["Title"] = "TedarikciEkle";
}

@model Supplier

<div class="row">
    <div class="offset-3 col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Tedarikçi Ekle</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                       
                        <form asp-area="Admin" asp-controller="Supplier" asp-action="TedarikciEkle" method="post" novalidate="novalidate">
                           
                             <div class="form-group">
                                <label asp-for="SupplierName" class="control-label mb-1">Tedarikçi Adı</label>
                                <input asp-for="SupplierName" type="text" class="form-control">
                            </div>
                            <div class="form-group has-success">
                                <label asp-for="Address" class="control-label mb-1">Adres</label>
                                <input asp-for="Address" type="text" class="form-control">                                
                            </div>
                            <div class="form-group has-success">
                                <label asp-for="Phone" class="control-label mb-1">Telefon Numarası</label>
                                <input asp-for="Phone" type="text" class="form-control">                                
                            </div>
                            <div class="form-group has-success">
                                <label asp-for="Email" class="control-label mb-1">Mail Adresi</label>
                                <input asp-for="Email" type="email" class="form-control">                                
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-plus-square-o"></i>&nbsp;
                                    <span id="payment-button-amount">Tedarikçi Ekle</span>
                                    <span id="payment-button-sending" style="display:none;">Ekleniyor…</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

